<h3>{{model.name}} Services</h3>

<div class="row">
  {{#each model.services as |service|}}
  <div class="col-md-4">

    <div class="panel panel-default service-item">

      <div class="panel-heading">
        <h3 class="panel-title">{{service.description}}</h3>
      </div>

      <div class="panel-body">
        <p> This is where the Current Status will go </p>
      </div>

      <div class="panel-footer text-center">
        <button class="btn btn-success">Good</button>
        <button class="btn btn-warning">Degraded</button>
        <button class="btn btn-danger">Outage</button>
      </div>
    </div>

  </div>
  {{/each}}
</div>
